

* {
			padding:0;
			margin:0;
	   }
html{
			height: 100%;
			width: 100%

		}

body{
			height: 100%;
			width: 100%;
			position: relative;
			font-family: Open Sans;
			background-color: #2C3E50;

		}

header{
			background-image: url("niteroi.jpg");
			height: 85%;
			width: 100%;
			position: relative;
			font-family: Dancing Script;
			background-size: contain;
			background-size: 100% 100%;
		}

img{
	max-width:100%;
	height:auto;
}
.transparencia{
	height: 100%;
	width: 100%;
	background:rgba(75, 75, 93, 0.35);

}
.bg-primary{
	background-color: transparent;
}

.navbar-default{
	background-color: transparent;
	border:none;
}

.navbar-right{
	margin-top: 35px;
	font-size: 30px;

}
.navbar-right li{
	margin: 20px;

}
.navbar-right li:hover{
	background-color: #0066CC;
	color:transparent;
	font-size: 40px;
}
.navbar-default .navbar-toggle{
	border-color: #0066CC;
}
.navbar-toggle{
	margin-top:38px;
}

.introhome{
			color: white;
			padding-top: 25px;
			text-align: center;
			position: absolute;
			width:700px;
			height:200px;
			left: calc(50% - 350px);
			top: calc(50% - 100px);
			font-family: Didact Gothic;
		}
.introhome h2{

			font-size: 34px;
			font-family: Open Sans;
		}
#servicos{
	padding-top: 20px;
	height: 70%;
	width: 100%;
	font-family: Open Sans;
	color: white;
  display: block;
  text-align:center;
  position: relative;
	display: inline-block;
}
#servicos header{

	margin-top: -15px;
	background-image: none;
	font-family: Open Sans;
	color: white;
}

.consultoria img{
	margin-left:25px;
}
.web img{
	margin-left:-5px;
}
.sistemas img{
	margin-left:10px;

}
.introhome h3{
			font-size: 30px;
			margin-bottom: 20px;
			font-family: Open Sans;

		}
.introhome a{
			text-decoration: none;
			display: inline-block;
			margin: 1px;
			background-color: transparent;
			color:white;
			padding: 10px 35px;
			text-align: center;
			font-size: 15px;
			border-color: white;
			border-style: solid;
			}

.introhome a:hover{
			background-color: rgb(25,25,112);
			color:rgb(0,0,0);
			}
#servicos{
				padding-top: 20px;
				height: 70%;
				width: 100%;
				font-family: Open Sans;
				color: white;
			  display: block;
			  text-align:center;
			  position: relative;
				display: inline-block;

			}
#servicos header{
margin-top: -15px;
background-image: none;
font-family: Open Sans;
color: white;
			}

.consultoria img{
margin-left:25px;
			}
.web img{
	margin-left:-5px;
			}
.sistemas img{
	margin-left:10px;

			}
.containerfooter{
		width: 100%;
		text-align: center;
		float: left;
		color: rgba(255,255,255,0.3);
		background-color: #121920;
		position: relative;
}
.containerfooter a{
	text-decoration: none;
	color: rgba(255,255,255,0.3);

	}
.redessociais a{
	margin: 5px;
	}
.logoesq{
	padding-top: 25px;
		}
.logodir{
	padding-top: 10px;
	}
.logodir a{
	margin: 25px
	}
